<form>
  <input type = 'text' id = 'search' name = 'searchyoutube' placeholder= 'Enter youtube search'></br>
  <button id='searchYoutube' type = 'submit'>Search</button>
</form>

<div id = 'results'></div>

<!--
<table id = "results" class = "panel" border ="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody id="playlist">

  </tbody>
  <button id = "load-playlist">Load Playlist</button>
  <button id = "new-music">Add new music</button>
</table>

<div id="newmusicForm" class="panel">
  <form>
    <input type="text" id="new_title" name="name" placeholder="Enter song title"><br>
    <input type="text" id="new_url" name="url" placeholder="Enter url"><br>
    <button id="saveMusic" type="submit">Save Music</button>
  </form>
</div> -->
