<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">OPM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sign">Sign in</a></li>
      <li><a href="playlist">Playlist</a></li>
      <ll><a href="logout">Logout</a></ll>
    </ul>
  </div>
</nav>

<div id="title">
  <h1>One Page Music</h1>
</div>



<p>Search youtube</p>
<div class="input-field">
  <form>
    <input type = 'text' id = 'search' name = 'searchyoutube' placeholder= 'Enter youtube search'></br>
    <button id='searchYoutube' type = 'submit'>Search</button>
  </form>
</div>
<div class="container">
  <div id = 'results'>

  </div>
</div>

