<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">OPM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="signin"><a class="modal-trigger" href="#modal1">Sign in</a></li>
      <li><a href="playlist">Playlist</a></li>
      <ll><a href="logout">Logout</a></ll>
    </ul>
    <div class="input-field center-align">
      <form id="ytapi">
        <input type = 'text' id = 'search' name = 'searchyoutube' placeholder= 'Enter youtube search'></br>
        <button id='searchYoutube' type = 'submit'>Search</button>
      </form>
    </div>
  </div>
</nav>

<div id="title">
  <h1>One Page Music</h1>
</div>

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->


<div class="container">
  <div class="music-container">
    <div id = 'results'>

    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal" method="post">
  <div class="modal-content">
    <h4>Sign in</h4>
    <form>
      <input type="text" id="signin-field" name="signin-field" placeholder="Username"></br>
      <input type="password" id="signin-pw" name="signin-pw" placeholder="Password"
    </form>
    <button id="submitlogin" type="submit">Submit</button>
    <!-- <p>A bunch of textaowefoiawjfioajweofijawoeijfoa;wefjaojfeiauhoaierufhaoie</p -->
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
