
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="center brand-logo">Logo</a>
    
    <a class="menu" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    <!-- <li class="menu"><a href="#!">Menu</a></li> -->
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="#"><div class="input-field">
        <form id="ytapi">
          <input type = 'text' id = 'search' name = 'searchyoutube' placeholder= 'Enter youtube search'></br>
          <button id='searchYoutube' type = 'submit'>Search</button>
        </form>
      </div></a></li>
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li><a href="#!">Third Sidebar Link</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="channel-grid container">
   <div class="row">
      <div class="col s3 thumbnail">1</div>
      <div class="col s3 thumbnail">2</div>
      <div class="col s3 thumbnail">3</div>
      <div class="col s3 thumbnail">4</div>
    </div>
    <div class="row">
      <div class="col s3 thumbnail">5</div>
      <div class="col s3 thumbnail">6</div>
      <div class="col s3 thumbnail">7</div>
      <div class="col s3 thumbnail">8</div>
    </div>      
    <div class="row">
      <div class="col s3 thumbnail">9</div>
      <div class="col s3 thumbnail">10</div>
      <div class="col s3 thumbnail">11</div>
      <div class="col s3 thumbnail">12</div>
    </div>
</div>
<!-- 
<nav>
  <div class="nav-wrapper grey darken-4">
    <a href="#" class="brand-logo">OPM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="signin"><a class="modal-trigger" href="#modal1">Sign in</a></li>
      <li id="signup"><a class="modal-trigger" href="#modal2">Sign up</a></li>
      <li><a href=#>Sign up</a></li>

      <ll><a href='/logout'>Logout</a></ll>
    </ul>
    <div class="input-field center-align">
      <form id="ytapi">
        <input type = 'text' id = 'search' name = 'searchyoutube' placeholder= 'Enter youtube search'></br>
        <button id='searchYoutube' type = 'submit'>Search</button>
      </form>
    </div>
  </div>
</nav> -->

<!-- <div id="title">
  <h1>One Page Music</h1>
</div> -->

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<div class="container">
  <div class="jumboimage">

  </div>
</div>
<div class="row">
  <!-- <div class="container"> -->

  <div class="col s6 m3 l2 test">

  </div>

  <!-- <div class="col s6 m9 l10">
    <div class="music-wrapper">
      <div id ='results' class="rows">
        <ul>

        </ul>
      </div>
      <div id='playlist' class="rows">
        <ul>

        </ul>      
      </div>
    </div>
  </div> -->
</div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Sign in</h4>
    <form method="post" action="/signin">
      <input type="text" id="signin-field" name="username" placeholder="Username"></br>
      <input type="password" id="signin-pw" name="password" placeholder="Password">
      <button id="submitlogin" type="submit">Submit</button>
    </form>
  </div>
  <!-- <div class="modal-footer"> -->
  <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
  <!-- </div> -->
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <form method="post" action="/signup">
      <input type="text" id="signup-field" name="username" placeholder="Username"></br>
      <input type="password" id="signup-pw" name="password" placeholder="Password">
      <button id="submitsignup" type="submit">Submit</button>
    </form>
  </div>
  <!-- <div class="modal-footer"> -->
  <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
</div>
</div>

<%=erb :show_flash%>

